[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
django-registration-redux = "*"
django-heroku = "*"
gunicorn = "*"
markdown = "*"
bleach-whitelist = "*"
bleach = "*"

django-allauth = "*"
lock = "*"


[requires]
python_version = "3.7"
