@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Bungee+Outline|Geostar|Pacifico|Bangers&display=swap');
.base-header {
    
    vertical-align: center;
    background-color: orange;
    padding: 6px;
    font-family: 'Bangers';
    background-image: linear-gradient(to bottom, rgba(36, 2, 36, 0.77), rgba(117, 19, 93, 0.73)), url("http://www.sclance.com/backgrounds/comic-book-polka-dot-background/comic-book-polka-dot-background_612694.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-left:20px;
    padding-right:20px;

}

#new-q-form {
    font-family: 'Bangers';
    color:black;
    /* color:white; */
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;  */
    /* text-shadow: 5px 5px black; */
}

#new-q-title{
    width:338px;
    border : 2px solid black;
}

#new-q-content{
    border : 2px solid black;
}

#new-q-button{
    border : 2px solid black;
    padding-right:9px;
    padding-top:2px;
    color: black;
}

body {
    background-image: url("http://static.comicvine.com/uploads/original/12/122233/3346578-3324924-fotoflexer_photo.jpg");
    background-color: rgba(255,255,255, 0.7);
    background-blend-mode: lighten;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-area a {
    color: white;
}

.title-text {
    color: red;
}

#qbox-header, .login-area {
    font-family: 'Bangers';
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; 
    /* text-shadow: 3px 3px black; */

}
#qbox-header h1 {
    color: white;
    font-size: 4rem;
    text-shadow: 5px 5px black;
    margin-bottom: 0px;
}
/* .question-display {
    display: flex;
    border: 5px solid #FFA500;
    padding: 20px;
    width: 70%;
    height: auto;
} */



.question-header {
    border-bottom: 5px solid #FFA500;
    width: 80%;
    
}

#q-title-area{
    display:flex;
    font-family: 'Bangers';
    color: white;
    padding: 5px;
    font-size: 3rem;
    text-shadow: 5px 5px black;
    letter-spacing: 2px;
}

.fav-star {
    color: yellow;
    border-width: 0px;
    font-size: 1.5rem;
    background-color: rgba(255,255,255,0);
    text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red; 
}

.fav-star:focus,.fav-star:active {
    outline: none !important;
    box-shadow: none !important;
}


#login-name {
    text-align: right;
    margin-bottom: 0px;
}

#login-menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.questionbox {
    display:flex;
    margin: 25px;
    width: 70%;
    height: auto;
    background: rgba(247, 247, 247, .8);
    border-width: 9px 6px 9px 5px;
    border: solid white;
    border-color: white; 
    box-shadow: 10px 10px rgb(44, 44, 44);
}

.answer-display {
    display:flex;
    align-items: center;
    margin: 25px;
    padding-top: 10px;
    padding-left: 20px;
    width: 70%;
    height: auto;
    background: rgba(247, 247, 247, .8);
    border-width: 9px 6px 9px 5px;
    border: solid white;
    border-color: white; 
    box-shadow: 10px 10px rgb(44, 44, 44);
}

.answer-display p {
    padding-left: 0px;
}


.answer-display a {
    font-family: 'Bangers';
    font-size: 1.5rem;

}

.qdisplay{
    display: flex;
    padding: 30px 0 ;
    padding-bottom: 0px;
}

.a-fav-button{
    margin-left: 20px;
}

.makeCorrectLink{
    margin-left: 20px;
}

.actual-answer{
    padding: 20px 0 auto auto;
    margin: 20px;
    width: auto;
    height: auto; 
    font-size: 20px;
}

.correct-answer{
    display:flex;
    margin: 25px;
    padding-top: 10px;
    padding-left: 20px;
    width: 70%;
    height: auto;
    background: rgba(236, 205, 66, 0.8);
    border-width: 9px 6px 9px 5px;
    border: solid rgb(255, 209, 3);
    border-color: rgb(255, 209, 3);
    box-shadow: 10px 10px rgb(44, 44, 44);
}


.section{
    padding: 30px 0px;
}


.box{
    display: flex;
    margin:25px;
    padding-top: 10px;
    padding-left: 20px;
    width: 100px;
    height: 250px;
    background:#fff;
    border: solid black;
    border-color: black;
    
}

.box2{
    
    width:70%;
    height: auto;
    background-image: linear-gradient(to bottom, rgba(36, 2, 36, 0.77), rgba(117, 19, 93, 0.73)),
    url("http://www.sclance.com/backgrounds/comic-book-polka-dot-background/comic-book-polka-dot-background_612694.jpg");
    background-size: cover;
    border-width: 3px 3px 5px 5px;
    border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
    transform: rotate(-2deg);

}

.box2 b{  
   color: white;   
}


.index-text{

    font-family: 'Bangers';
    color: white;
    padding: 5px;
    font-size: 3rem;
    text-shadow: 5px 5px black;
    letter-spacing: 2px;
    
}


.response-title {
    font-family: 'Bangers';
}


#showFormButton {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    text-shadow: 1px 1px 3px #080808;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: Arial;
    color: #cc9e12;
    font-size: 15px;
    background: #ba10c9;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

#showFormButton :hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}


.qbox{
    display: flex;
    margin:25px;
    padding-top: 10px;
    padding-left: 20px;
    width: 100px;
    height: 250px;
    background:#fff;
    border: solid black;
    border-color: black;

}

.qbox2{
  
    width:70%;
    height: auto;
    background-image: linear-gradient(to bottom, rgba(36, 2, 36, 0.77), rgba(117, 19, 93, 0.73)),
    url("http://www.sclance.com/backgrounds/comic-book-polka-dot-background/comic-book-polka-dot-background_612694.jpg");
    background-size: cover;
    border-width: 5px;
    box-shadow: 10px 10px rgb(44, 44, 44);


}
svg.kapow-button-1{
    width:370px;
    height:150px;
    display: block;
    margin: auto;
}

svg.kapow-button .kapow-button-shape{
    fill:#ff0; 
    stroke: #000; 
    stroke-width:2px; 
    stroke-linejoin:miter; 
    stroke-miterlimit: 12;  
    
    transition: transform .4s, fill .2s;
}
svg.kapow-button-1 .kapow-button-shape{
    transform-origin: 125px 70px;
    transform:scale(.9, .9);
}

svg.kapow-button .kapow-button-text{
    filter:url(#kapow-text);
    fill: #f00;
    text-anchor: middle;
    alignment-baseline: middle;
    
    font-family: Bangers;
    font-size: 2.1em;
    
    letter-spacing:.1em;
    word-spacing:.1em;
    
    transition: all .5s;
}
svg.kapow-button-1 .kapow-button-text{
    transform: translate(125px, 75px) rotate(-12deg);
}

svg .kapow-button-group:hover{
    cursor:pointer;
}

svg .kapow-button-group:hover .kapow-button-shape{
    fill:#ddff33; 
}
svg.kapow-button-1 .kapow-button-group:hover .kapow-button-shape{
    fill:#ddff33; 
    transform: scale(1);
}

svg.kapow-button .kapow-button-group:hover .kapow-button-text{
    letter-spacing:.15em; 

}