@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Bungee+Outline|Geostar|Pacifico|Bangers&display=swap');
.base-header {
    vertical-align: center;
    background-color: orange;
    padding: 6px;
    font-family: 'Bangers';
    background-image: linear-gradient(to bottom, rgba(36, 2, 36, 0.77), rgba(117, 19, 93, 0.73)), url("http://www.sclance.com/backgrounds/comic-book-polka-dot-background/comic-book-polka-dot-background_612694.jpg")}

body {
    background-image: url("http://static.comicvine.com/uploads/original/12/122233/3346578-3324924-fotoflexer_photo.jpg");
    background-color: rgba(255,255,255, 0.7);
    background-blend-mode: lighten;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.login-area a {
    color: white;
}

.title-text {
    color: red;
}

#qbox-header, .login-area {
    font-family: 'Bangers';
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; 
}
#qbox-header h1 {
    color: white;
    font-size: 4rem;
    text-shadow: 2px 2px black;
    margin-bottom: 0px;
}
.question-display {
    display: flex;
    border-radius: 25px;
    border: 5px solid #FFA500;
    padding: 20px;
    width: auto;
    height: auto;
}

#q-title-area{
    display:flex;
}

.fav-star {
    color: orange;
    border-width: 0px;
    font-size: 1.5rem;
}

.fav-star:focus,.fav-star:active {
    outline: none !important;
    box-shadow: none !important;
 }


#login-name {
    text-align: right;
}

#login-menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.answer-display {
    display: flex;
    margin-bottom: 30px;
	display: block;
    margin-top: 2px;
    
    border-radius: 25px;
  
    width: auto;
    height: auto;
}

.answer-display p {
   padding-left: 0px;
}

.qdisplay{
    display: flex;
    padding: 30px 0 ;
}

.a-fav-button{
    margin-left: 20px;
}

.makeCorrectLink{
    margin-left: 20px;
}

.actual-answer{
    padding: 20px 0 auto auto;
    margin: 20px;
    width: auto;
    height: auto; 
    font-size: 20px;
}

.correct-answer{
    display: flex;
    border: 10px solid green;
    width: 80%;
    padding: 30px 0px;
}

.section{
    padding: 30px 0px;
}