<!DOCTYPE html>
<html lang="en">
    <head>
        {% block title %}<title>Question Box</title>{% endblock %}
        {% block meta %}{% endblock %}
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <!-- Add additional CSS in static file -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
        {% block head %}{% endblock %}
      </head>
      <body>
        <header class="base-header">
            <div id="login-menu" class="tr">
                {% if request.user.is_authenticated %}
                  <div>Hi {{request.user}} | <a class="washed-blue" href="">Profile</a> | <a class="washed-blue" href="{% url 'account_logout' %}">Logout</a>
                    {% else %}
                      <a class="washed-blue" href="{% url 'account_login' %}">Login</a> | <a class="washed-blue" href="{% url 'account_signup' %}">Register</a>
                    {% endif %}</div>
              </div>
        </header>
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-2">
            {% block sidebar %}
              <ul class="sidebar-nav">
                <li><a href="{% url 'home' %}">Home</a></li>
              </ul>
           {% endblock %}
            </div>
            <div class="col-sm-10 ">{% block content %}{% endblock %}</div>
          </div>
        </div>
      </body>
      </html>