{% extends "base.html" %}


{% block content %}
<a href="{% url 'new-question' %}">Add a New Question</a>

<section class="section">
    {% if question_list %}
        {% for question in question_list %}
        <div class="qdisplay">
            <div class="box box2">
                <p><a href="{{question.get_absolute_url}}" class="index-text"><strong>{{ question.title }}</strong></a>
                <br>
                <b>Created by {{ question.author }} at {{ question.created_at}}</b></p>
            </div>
        </div>
        
        <br>
        <br>
        {% endfor %}
    {% else %}
        <p>There are no questions.</p>
    {% endif %}
</section>
{% endblock %}