{% extends "base.html" %}


{% block content %}
<h2>Welcome to the Question Box</h2>
<h4>Where you have questions and we (hopefully) have the answers!</h4>
<div>
    <p></p>
    <iframe src="https://giphy.com/embed/xUPGctqlPdtaxvoAus" width="680" height="301" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
</div>

<a href="{% url 'new-question' %}">Add a New Question</a>


<h2>All Questions:</h2>

{% if question_list %}
    {% for question in question_list %}
    <div class="qdisplay">
        <div class="question-display">
            <a href="{{question.get_absolute_url}}"><strong>{{ question.title }}</strong></a> - Created by {{ question.author }} at {{ question.created_at}}
        </div>
    </div>
    {% endfor %}
{% else %}
    <p>There are no questions.</p>
{% endif %}
{% endblock %}