{% extends "base.html" %}


{% block content %}
<div class=title-text>
    <h2>Bad Dudes Qbox</h2>
    <h4>The site for questions about BAD DUDES!</h4>
</div>

<a href="{% url 'new-question' %}">Add a New Question</a>


<h2>All Questions:</h2>

{% if question_list %}
    {% for question in question_list %}
    <div class="qdisplay">
        <div class="question-display">
            <a href="{{question.get_absolute_url}}"><strong>{{ question.title }}</strong></a> - Created by {{ question.author }} at {{ question.created_at}}
        </div>
    </div>
    {% endfor %}
{% else %}
    <p>There are no questions.</p>
{% endif %}
{% endblock %}