{% extends "base.html" %}

{% block content %}
<div class="section">
<div id="new-q-form">
    <h1>Create your new question here</h1>
        <form action="{% url 'new-question' %}" method="POST">
            {% csrf_token %}
            <br>
            <h5>Question Title</h5>
            <input id="new-q-title" type="text" name="{{ form.title.html_name }}"></input>
            <br>
            <br>
            <h5>Question Content</h5>
            <textarea id="new-q-content" cols="50" rows="5" name="{{ form.content.html_name }}"></textarea>
            <br>
            <br>
            <button id="new-q-button">Submit</button>
        </form>
</div>
</div>
{% endblock %}