{% extends "base.html" %}

{% block content %}
<section class="section">
<h1 id="q-title-area" class="qbox qbox2">My Questions</h1>


{% if authored_questions %}
    {% for question in authored_questions %}

        <div class="answer-display">
            <a href="{{question.get_absolute_url}}">{{ question.title }}</a>
        </div>
 
    {% endfor %}
{% else %}
    None
{% endif %}

</section>

<section class="section">
<h1 id="q-title-area" class="qbox qbox2">Favorite Questions</h1>

{% if fav_questions.all %}
    {% for favorite in fav_questions %}
        <div class="answer-display">
            <p><a href="{{favorite.question.get_absolute_url}}">{{ favorite.question }}</a><br>Created by: {{ favorite.question.author }}</p>
        </div>
    {% endfor %}
{% else %}
    None
{% endif %}
</section>


{% endblock %}